<%= form_for @user, html: {multipart: true} do |f| %>
  <%= render partial: "partials/form_errors", locals: {model: @user} %>
  <div class="border-top font-weight-bold col-md-12">

    <div class="form-group">
      <%= f.label :name, class:"my-3 col-sm-2" %>
      <%= f.text_field :name, class: "mx-2 col-sm-6 col-form-label form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :email, class:"my-3 col-sm-2" %>
      <%= f.text_field :email, class: "mx-2 col-sm-6 col-form-label form-control" %>
    </div>

    <div class="actions font-weight-normal my-3">
      <%= f.submit I18n.t("views.form.save"), class: "mx-2 btn btn-warning" %>
      <%= t "views.form.or" %>
      <%= button_to I18n.t("views.form.back"), :back, class:"mx-2 btn btn-primary" %>
    </div>
  </div>
<% end %>
