<div>
  <div class="event">
    <div class="event-info row">
      <div class="col-md-12">
        <%= content_tag "div", "", class: "event-background",
        style: "background-image: url(#{asset_path("event.jpg")})" %>

        <div class="event-info-inner row">
          <div class="col-md-6">
            <div class="event-description mx-2 my-2 buffer-both">
              <h1><%= @event.title %></h1>
              <h3><%= l @event.datetime, format: :long %></h3>
              <h3><small><%= link_to @event.address,
              "https://yandex.ru/maps/?text=#{@event.address}" %></small></h3>
              <p><%= @event.description %></p>
            </div>

            <% if current_user_can_edit?(@event) %>
              <div class="buffer-top my-3">
                <%= link_to I18n.t("views.events.change"), edit_event_path(@event),
                class: "btn btn-primary", title: I18n.t("views.events.change") %>
              </div>
              <div class="buffer-top my-3">

                <%= button_to t("views.events.delete"), event_path(@event),
                form: { data: { turbo_confirm: t("are_you_sure") } },
                method: :delete,
                title: t("views.events.delete"),
                class: "btn btn-danger" %>

              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="events-comment buffer-top">
        <%= render partial: "comments/form", locals: {comment: @new_comment || @event.comments.build } %>
        <div class="buffer-both">
          <%= render partial: "comments/comment", collection: @event.comments.except(@new_comment) %>
        </div>
      </div>
    </div>

    <div class="buffer-both py-4 px-4 col-md-4">
      <div class="">
        <h4><%= t("event_host") %></h4>
        <p><%= render partial: "users/user", object: @event.user %></p>
      </div>
      <div class="event-subscriptions">
        <h4><%= t("event_guests") %></h4>
        <div class="">
          <p>
            <%= render partial: "subscriptions/subscription", collection: @event.subscriptions.except(@new_subscription) %>
          </p>
        </div>
      </div>
      <% unless @event.user == current_user #|| юзер состоит в массиве подписок %>
        <div class="event-subscriptions-form">
          <h4><%= t("im_in") %></h4>
          <div>
            <%= render partial: "subscriptions/form", locals: {subscription: @new_subscription || @event.subscriptions.build } %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
